@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playwrite+AU+SA:wght@100..400&display=swap');


html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    
}
/* ====================================================== desktop styles ====================================*/

.banner{
    /* background-image: url(../assets/desktop.jpg); */
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_image{
    height: 70px;
    width: 70px;
    margin-left: 7%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.headline{
    /* margin-top: 25%; */
    /* margin-left: 2%; */
    /* padding-top:30%; */
    text-align: center;
    color: white;
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
}
.enquire_button{
    margin-top: 2%;
    /* margin-left: 12%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.why_choose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    
}
.why_choose_text{
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
}
.facilities{
    width: 80vw;
}

.why_choose_text p{
    margin-top: 2%;
    line-height: 25px;
    width: 82vw;
    margin-bottom: 15%;
}
#gallary{
    margin-top: 5%;
}
#gallary h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-top: 10vh;
}
.btn_group{
    height: 60px;
    width: 100%;
    /* background-color: #f34079; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-50%);
    }

.submit_btn {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}


#menu{
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}

.phone_icon img{
    background-color: white;
    border-radius: 15px;
    padding-left: 3px;
}























/* button css start */

.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding: 0 20px 2px 20px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}




/* CSS */
.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: none;
  background-color: transparent;
  margin-top: 90px;
}

/* .button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
} */




























/* ====================================================== tab styles ====================================*/

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}
/* button css end */


.video_carousel{
    height: 50vh;
    width: 100%;
}

.testimonial_carousel{
    height: 50vh;
    width: 100%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    width: 100%;
}






footer{
    height: 40vh;
}


/* popup form css */
/* Styles for the popup background */
.popup {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

/* Popup Content */
.popup-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    width: 31%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
    position: relative;
}
form{
    margin-top: 20%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input{
    margin: 5px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Blurring the background */
/* body.blurred {
    filter: blur(3px);
} */







.banner {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_image {
    height: 116px;
    width: 115px;
    margin-top: 5px;
}

.menu {
    display: flex;
    gap: 15px;
}

/* .headline {
    text-align: center;
    margin-top: 20px;
} */

.enquire_button {
    text-align: center;
    margin-top: 20px;
}






























/* ====================================================== Mobile styles ====================================*/
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .navbar.scrolled .logo_image {
        filter: none; /* Removes any color filter, make sure your logo image works well with this */
    }
    
    .navbar.scrolled .hamburger {
        color: black; /* Changes the color of the hamburger icon */
    }
    
    /* Ensure the initial color of the hamburger icon is white for the transparent background */
    .hamburger {
        color: white;
    }

    .side_icon {
        position: fixed;
            margin-top: 82%;
            right: 0px;
            z-index: 10;
            height: 102px;
            width: 49px;
            background-color: white;
            border-radius: 10px 0 0 10px;
    }
    .navbar {
        height: 7%;
        width: 95%;
        top: 0;
        background-color: transparent;
        position: fixed;
        z-index: 10;
        transition: all 0.3s;
    }

    .bottom_nav{
        position: fixed;
        bottom:0;
        background-color: rgb(0, 24, 56);
        width: 90%;
        height: 30px;
        padding: 5%;
        z-index: 100;
        display: none;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }

    .bottom_nav_button-75{
        align-items: center;
        background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "Codec cold",sans-serif;
        font-size: 16px;
        font-weight: 700;
        height: 54px;
        justify-content: center;
        letter-spacing: .4px;
        line-height: 1;
        max-width: 100%;
        padding: 2px 20px 0 20px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .menu.open {
        display: flex;
        color: white;
        background-color: rgb(0, 24, 56);        
        height: 40vh;
        margin-top: 5%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }
    .contact #map{
        width: 100vw;
        height: 50vh;
        margin-top: 72%;
        text-align: center;
    }
    .map h2{
        text-align: center;
    }
    .contact .address{
        margin-top: 0%;
        margin-bottom: 10%;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 24, 56);
        width: 100%;
        color: white;
    }

    .address a{
        text-decoration: none;
        color: white;
    }
    iframe{
        width: 100vw;
        height: 40vh;
        
    }
    .enquire_button{
        margin-top: 5vh;
    }
    .banner{
        background-image: url(./assets/banner_new.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .headline{
        /* margin-top: 25%; */
        /* margin-left: 2%; */
        padding-top:30%;
        text-align: center;
        color: white;
        /* font-family: "Playwrite IS", cursive; */
        /* font-family: "Parisienne", cursive; */
        /* font-family: "Playwrite NG Modern", cursive; */
        font-optical-sizing: auto;
        font-size: 16px;


    }
    /* .why_choose_text{
        width: 100%;
    } */
    /* slider css start */

    .popup-content {
        background-color: #fefefe;
        margin: 45% auto;
        padding: 17px;
        width: 78%;
        height: 48%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 3;
        position: relative;
        border-radius: 15px;
    }

    form input::placeholder {
        color: rgb(0, 0, 0);
        font-size: 14px; /* Adjust font size */
    }
    .slider{
        position: static;
    }
    .main_div{
        width: 90%;
        height: 223px;
        box-shadow: 0px 0px 1px grey;
        margin: auto;
        margin-top: 30px;
        /* border: 1px solid red; */
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    .slide{
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 1s;
    }
    .video_container{
        margin-top: 60px;
    }
    .social_icons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .social_icons a{
        margin: 0 5%;
    }
    /* slider css end */
}
